*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.suo
*__pycache__
*.idea
*.ipynb_checkpoints
*.pickle
*.npy
*.blg
*.bbl
*.bcf
*.toc
*.wav

voice_cloning/encoder/saved_models/*
voice_cloning/synthesizer/saved_models/*
voice_cloning/vocoder/saved_models/*

speaker_verification/ground_truth_audio/*
speaker_verification/synthesized_audio/*
speaker_verification/embeddings/*

fastspeech2/ckpt/*

.vscode
